.test {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.container {
  height: 300px;
  width: 100%;
}

.fadeOut{
     opacity:0;
     transition: opacity 150ms ease-out 0s, transform 150ms ease-out 0s;

}
.fadeIn{
     opacity:1;
     transition: opacity 0.5s;

}